html {
  overflow: auto;
  font-family: "Lucida Grande", sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}


.myButton {
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:"Lucida Grande", sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.myButton:hover {
	background-color:#378de5;
}.myButton:active {
	position:relative;
	top:1px;
}

img {margin-right: 5px; margin-bottom: -4px}

#searchtext {
	border-radius: 5px 5px;
	padding: 4px;
	box-shadow: none;
	width: 250px;
	height: 17px;
}


#poetryHolder{ list-style-type: none;  } 
#poetryHolder li { 
	margin: 5px 5px 5px 5px; padding: 5px; font-size: 1.5em; border-style: solid; display: inline; float: left; color: black; background-color: white;
	font-family: Times New Roman;
	font-weight:bold;
}

/* Drop Box */
#drop_box {padding:35px; margin-right: auto; margin-left: auto; 
	background: url('../images/fridge2.png');background-repeat: no-repeat; width:600px; height:400px;}
#drop_box.over {opacity:0.8;border-color:#74c043;}

/* Search results */
#results {float: right; width: 150px;}
#results li {}